<%- include('header'); -%>

    <link rel="stylesheet" href="\styles.css">
    <title>ShowTable</title>

    </head>

    <body>
        <div class="containerTable">

            <table id="myTable" class=" table table-dark .table-striped">

                <thead class="thead-light">
                    <tr>
                        <th scope="col"> <a href="/sortName"> NAME</a></th>

                        <th scope="col"> <a href="/sortThirtyDaySales">Thirty Day
                                Sales
                            </a>
                        </th>
                        <th scope="col"> <a href="/sortPrice"> Thirty Day Average Price
                            </a></th>
                        <th scope="col">External URL</th>
                    </tr>
                </thead>

                <tbody>
                    <% dataArray.forEach( (item)=> { %>
                        <tr>
                            <td>
                                <%= item.name %>
                            </td>
                            <td>
                                <%= item.thirty_day_sales %>
                            </td>
                            <td>
                                <%= item.thirty_day_average_price %>
                            </td>
                            <td>
                                <%= item.external_url %>
                            </td>
                        </tr>
                        <% }); %>
                            <% %>
                </tbody>
            </table>
        </div>

    </body>

    </html>